body {
    background-color: black;
    color: white;
    text-align: center;
    border-style: none;
    border-color: white;
  }
  
  div {
      border-style: none;
  }  
  .row {
      border-style: none;
      border-color: white;
  
      display: grid;	
      grid-template-columns: 3fr 7fr 3fr;
  }
  
  .label {
      font-size: 80px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      /*font-family: 'Courier New', Courier, monospace;*/
      margin: 10px;
      text-align: center;
      vertical-align: middle;
      padding: 15px;
  }
  .label-team{
      font-size: 50px;
      height: 160px;
  }
  .label1{
      font-size: 100px;
  }
  .label2{
      font-size: 50px;
      margin-top: 25px;
      margin-bottom: 0;
      padding-bottom: 0;
  }
  
  .data{
      font-size: 90px;
      font-family: digital7;
      background-color: black;
      color: red;
      margin: 15px;
      border-style: dashed;
      border-color: white;
      padding: 10px;
      border-radius: 5px;
  }
  
  .score{
      font-size: 130px;
  }
  
  .penalty{
      font-size: 80px;
  }
  
  .penalty-row{
    align-items: center;
    border: 1px solid black;
    display: flex;
    justify-content: center;
  }
  .penalty-no {
      width: 85px;
      color: yellow;
      margin-right: 5px;
  }
  .penalty-time{
      width: 180px;
      margin-left: 5px;
  }
  
  #timer{
      font-size: 110px;
      border-style: solid;
      border-color: white;
      border-radius: 5px;
      color: yellow;
      
      margin-left: 220px;
      margin-right: 220px;
  }
  #period{
      color: yellow;
      width: 100px;
  }
  #timeout{
      color: green;
      width: 100px;
  }
  .spacing{
      height: 25px;
  }
  #logo{
      width: 500px;
      border-style: solid;
      border-radius: 5;
      border-color: black;
  }
  .viewport {
    height: 440px;
    position: relative;
    border-style: inset;
    border-color: white;
}
  .sponsor{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @font-face {
    font-family: digital7;
    src: url(fonts/Digital7Mono-B1g5.ttf);
  }
  @font-face {
    font-family: Fstein;
    src: url(fonts/Fstein-Ja3j.ttf);
  }
  